@CHARSET "utf-8";

@sprite .waveToolbar {
  gwt-image: "waveToolbarEmpty";
  display: -webkit-box;
  z-index: 0;
}

@sprite .waveToolbar>div:active {
  gwt-image: "waveToolbarActive";
}

.waveToolbar>* {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

div.waveToolbarButtonDisabled {
  opacity: 0.5;
  cursor: default;
}

div.waveToolbarButtonDisabled:active {
  background: initial;
}