@CHARSET "UTF-8";

.wave {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 3px 3px 6px #aaa;
  margin: 0 7px 7px 0;
  box-sizing: border-box;
}

.wave>*:first-child {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
}

.wave>*:last-child {
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}

.waveContent {
  background: white;
  -webkit-box-flex: 1;
  overflow: hidden;
  position: relative;
}

.waveHeader,.waveFooter {
  background-color: rgb(201, 226, 252);
  border-left: 1px solid rgb(228, 241, 254);
  overflow: hidden;
}

.waveFooter {
  border-top: 1px solid rgb(184, 198, 217);
}

.waveWarning {
  overflow: hidden;
  background: hsl(59, 95%, 92%);
  padding: 0 2px 0 0;
  border-bottom: 1px solid hsl(58, 21%, 55%);
  height: 24px;
  -webkit-transition: all 1s;
}
@sprite .waveWarning::before {
  content: '\5f00\53d1\4e2d...';
  display:block;
  width:auto; 
  line-height: 24px;
  gwt-image:"waveAnimation";
  padding-left: 8px;
  margin-bottom: 7px;
 }
.waveWarning:hover{
  height: 300px;
}