.cellListEvenItem,.cellListOddItem {
  border-bottom: 1px solid #bbb;
  padding: 2px 0px;
  font-size: 12pt;
  color: #333;
}

.cellListWidget {
  
}
/*
.cellListWidget>div>div:FOCUS {
  background-color: hsl(82, 43%, 45%)!important;
  color: white;
}
*/
.cellListKeyboardSelectedItem {
  background-color: inherit;
}

.cellListWidget>div>div:HOVER {
  background-color: #EDEDED;
}

.cellListSelectedItem {
  background-color: hsl(82, 43%, 45%) !important;
  color: white!important;
  background: inherit;
}