@CHARSET "UTF-8";

body {
  margin: 0;
  font: 12px;
  line-height: 1;
}

.topBarButtonHOVER {
  color: white !important;
  border-left-color: black;
  border-right-color: black;
  outline: none;
  background: literal('-webkit-gradient(linear, left top, left bottom, from(black), to(rgb(34, 34, 34)))');
}

@sprite 
.trangleCell {
  gwt-image: "trangleButton";
  opacity: 0;
  padding: 0 5px;
  position: absolute;
  right: 0;
}

@sprite 
.trangleCell:FOCUS {
  gwt-image: "trangleButtoned";
  opacity: 1;
  outline: 0px;
}

.sortButtonCell {
  display: inline-block;
  background-color: red;
  width: 20px;
  height: 10px;
}
