@CHARSET "utf-8";

@sprite .toplevelToolbarWidget {
  gwt-image: "waveToolbarEmpty";
  display: -webkit-box;
  z-index: 0;
  height: 1.5em;
}

@sprite .toplevelToolbarWidget>div:active {
  gwt-image: "waveToolbarActive";
}

.toplevelToolbarWidget>* {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

.submenuToolbarWidget{
  padding: 2px 0;
}