@CHARSET "UTF-8";

.contentSectionView {
  -webkit-transition: all 1s;
  position: absolute;
  top: 0px;
  bottom: 0px;
  margin: 0px;
  background-color: white;
}

.contentHtmlPanel {
  font-size: 1.5em;
  left: 0;
  overflow: visible;
  -webkit-transition: all 0.5s;
  -webkit-column-gap: 0em;
  position: relative;
  letter-spacing: 5px;
}

.contentHtmlPanel>p {
  padding: 0 0 0 10px;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
}

.contentTopBar {
  position: absolute;
  left: 7px;
  right: 0;
  -webkit-transition: all 0.5s;
  margin-top: initial;
}

/*
.contentSectionView:HOVER {
  left: 0px;
}
*/