@CHARSET "UTF-8";

.root {
  border: 3px solid rgba(23, 23, 23, 0.8);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 2px 0 2px 0;
}