@CHARSET "UTF-8";

.waveTitle {
  background-color: hsl(212, 58%, 58%);
  height: 1.9em;
  color: white;
  border-left: 1px solid hsl(211, 74%, 73%);
  background-image: -webkit-gradient(linear, literal("left top"), literal("left bottom"),
    from(hsl(211, 85%, 66%)), to(hsl(212, 58%, 58%)));
  display: -webkit-box;
  overflow: hidden;
}

.waveTitle>div {
  padding: 0 10px;
  cursor: pointer;
}

.waveTitle>div:hover {
  background-image: -webkit-gradient(linear, literal("left top"), literal("left bottom"),
    from(rgb(85, 144, 210) ), to(rgb(69, 120, 174) ) );
}

.waveTitle>div:active {
  background-image: -webkit-gradient(linear, literal("left top"), literal("left bottom"),
    from(rgb(76, 117, 189) ), to(rgb(66, 112, 164) ) );
}

.waveTitle>span {
  display: -webkit-box;
  -webkit-box-flex: 1;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  min-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.waveTitle>div>img {
  height: 100% !important;
  background-position: center !important;
}