#main {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
	border-left: 0px solid black;
}

.fullScreenStyle {
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.webKitFlex {
  -webkit-box-flex: 1;
}
