@CHARSET "UTF-8";

.waveUser {
  cursor: pointer;
  display:inline-block;
}

.waveUser>* {
  border: 1px solid hsl(215, 30%, 79%);
  vertical-align: bottom;
  background-size: contain;
}

@sprite .waveUserAvailable::after {
  gwt-image: "userStatusAvailable";
}

@sprite .waveUserIdle::after {
  gwt-image: "userStatusIdle";
}

@sprite .waveUserInvisible::after {
  gwt-image: "userStatusInvisible";
}

@sprite .waveUserGroup::after {
  gwt-image: "userStatusGroup";
}
.waveUserAvailable::after,.waveUserIdle::after,.waveUserInvisible::after,.waveUserGroup::after {
  content: "";
  display: inline-block;
  margin-left: -8px;
  margin-bottom: -2px;
  vertical-align: bottom;
}